<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
<form class="" action="/" method="post">
  <input type="text" name="first" >
  <input type="text" name="last" value="">
  <input type="text" name="email" value="">
  <button type="submit" name="button">ADD CHESKO RA OO.A</button>
</form>
    </center>
  </body>
</html>
